<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href = "css/pcdlstyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap" rel="stylesheet">
     <link href="splide-2.4.21/dist/css/splide.min.css" rel="stylesheet">

<!-- End WOWSlider.com HEAD section -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="engine1/style.css" />
<script type="text/javascript" src="engine1/jquery.js"></script>
  </head>
  <body class="">
    <div class="row mt-3 d-lg-none d-md-none">
       <div class="col-7">
         <div > <a href="/"><img src="images/pcdl-logo.png" width ="60%"></a></div>
       </div>
       <div class="col-5 row p-0 ">
          <div class="getapp col-12 p-0 my-0">Get the App on iOS and Android </div>
          <div class="col-4 p-0 mt-0">
            <div class=""> <a href="https://itunes.apple.com/bj/app/pastor-chris-digital-library/id649362246?mt=8"><img src="images/appstore.png" style="width: 100%;"></a></div>
          </div>
          <div class="col-4 p-0 m-0">
             <div class=""> <a href="https://play.google.com/store/apps/details?id=org.lwnm.digitallib"><img src="images/playstore.png" style="100%" ></a></div>
          </div>
       </div>
   </div>
  <div class="container d-none d-md-block">
        <div class="flex-container">
            <div style="flex-grow: 1"> <a href="/"><img src="images/pcdl-logo.png" width ="250"></a></div>
            <div class="getapp">Get the App on iOS and Android </div>
            <div class="store-logo"> <a href="https://itunes.apple.com/bj/app/pastor-chris-digital-library/id649362246?mt=8"><img src="images/appstore.png" width ="130"></a></div>
            <div class="store-logo"> <a href="https://play.google.com/store/apps/details?id=org.lwnm.digitallib"><img src="images/playstore.png" width ="130"></a></div>
      </div>
      
  </div>
 
   {{{body}}}
      <script type="text/javascript" src="engine1/wowslider.js"></script>
	  <script type="text/javascript" src="engine1/script.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstra p JS -->
   
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     </body>
</html>
